<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hackaton 2020</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/d3Style.css" />
    <link rel="stylesheet" href="../static/css/fonts.css" />
  </head>

  <body>

      <!-- <div class="row headertitle">
        <div style="margin-top: 40px;" class="col-xs-12 col-md-12">
          <h1 class="font_title">Especialista en TI</h1>
        </div>
      </div> -->

      <nav class="navbar navbar-expand-lg headertitle">
        <a class="navbar-brand font_title" href="#">Especialistas en TI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <ul class="navbar-nav header_menu">
        <div class="collapse navbar-collapse" id="navbarNav">
            <li class="nav-item active">
              <a class="nav-link font_menu" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>



      <div class="container-fluid">

          <form class="form-inline pymeInput">
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only"></label>
              <input type="number" class="form-control" id="pymesNum" placeholder="PyMES">
            </div>
            <button id="butsel" type="button" class="btn btn-success">Select</button>
          </form>


          <div class="row">
            <div style="margin-left: 81px;" class="col-md-5 shadow bg-white rounded">
              <div id="piechart"></div>
            </div>

            <div style="margin-left: 60px;" class="col-md-5 shadow bg-white rounded">
              <div id="piechartGeneral">
                <!-- Append our chart here. -->
              </div> 
            </div> 
          </div> 

        </div>
        

      </div>


      <div class="container-fluid">

        <div class="row">
          <div style="margin-left: 110px;margin-top: 50px;margin-bottom: 50px;" class="col-md-10 shadow bg-white rounded">
            <div id="barChart"></div>
          </div>
        </div> 

      </div>
      

    </div>


    <!-- Footer-->
    <div style="background-color: #072146; border-top: 4px solid #49a5e6;" id="footer">
      <p style="color: white;">BBVA Hackaton 2020</p>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/pie_chart.js"></script>
    <script type="text/javascript" src="../static/js/pieChart_General.js"></script>
    <script type="text/javascript" src="../static/js/barPlot.js"></script>
    <!-- <script type="text/javascript" src="../static/js/pie_chart.js"></script> -->
  </body>
</html>
